@import '../../mixins.scss';

.hero{
    background-image: linear-gradient(to right, #E2E2E2, #FFFFFF);
    background-size: cover;
    padding-top: 101px;
    padding-bottom: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: hero;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
        background-image: unset;
        padding-top: 0;
        padding-bottom: 80px;
        max-width: 500px;
        margin: 0 auto;
    }

    &__title{
        @include title;

        margin-bottom: 69px;
        position: relative;
        text-transform: uppercase;
        max-width: 1000px;

        @media screen and (max-width: 1023px) {
            font-size: 24px;
            margin-top: 38px;
            margin-bottom: 50px;
        }
    }

    &__content-icon{
        flex-shrink: 0;
        filter: drop-shadow(4px 4px 8px #A6ABBD);

        *{
            transition: stroke 0.2s;
        }

        &:hover{
            *{
                stroke: #00C368;
            }
        }

        &_rotate{
            transform: rotate(-15deg);
        }
    }

    &__content-image{
        width: 436px;
        height: 230px;
        object-fit: contain;
        filter: drop-shadow(0 40px 80px rgba($color: #000000, $alpha: 0.16));
        margin: auto;
        
        @media screen and (max-width: 1023px) {
            width: 218px;
            height: 115px;
        }
    }

    &__content-text{
        margin-top: 22px;

        @media screen and (max-width: 1023px) {
            width: 60vw;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__content{
        display: grid;
        row-gap: 50px;
        column-gap: 100px;
        grid-template-areas: 
            'first first second second'
            'third berry berry fourth' 
            'fifth fifth six six';
        grid-template-columns: 186px 1fr 1fr 186px;
        grid-template-rows: auto 1fr auto;
    }

    &__content-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 5;

        @media screen and (max-width: 1023px) {
            padding: 0 50px;
        }

        &_first{
            grid-area: first;
            width: 176px;
            margin-left: auto;
        }
        
        &_second{
            grid-area: second;
            width: 179px;
            margin-right: auto;
        }

        &_third{
            grid-area: third;
        }

        &_fourth{
            grid-area: fourth;
        }

        &_fifth{
            grid-area: fifth;
            width: 200px;
            margin-left: auto;
        }

        &_six{
            grid-area: six;
            width: 200px;
            margin-right: auto;
        }

        &_berry{
            grid-area: berry;
        }
    }
}

.wrapper {
    width: 100%;
}

.parallax-container{
    position: absolute;
    inset: 0;
    display: flex;
}

.parallax-image{
    width: 580px;
    height: 580px;
}

.parallax-item:first-child{
    margin-top: 350px;
    
    .parallax-image{
        rotate: -55deg;
    }
}

.parallax-item:last-child{
    margin-left: auto;
    margin-top: 100px;
    
    .parallax-image{
        rotate: -135deg;
    }
}