@import '../../mixins.scss';

.reviews{
    grid-area: reviews;
    background-color: #F5F5F5;
    margin-top: -20px;
    padding-top: 130px;
    padding-left: 130px;
    padding-right: 80px;
    padding-bottom: 93px;

    @media screen and (max-width: 1023px) {
        padding-left: 35px;
        padding-right: 35px;
    }
    
    @media screen and (max-width: 767px) {
        background-color: #FFFFFF;
        max-width: 500px;
        margin: 0 auto;
        padding: 47px 15px;
    }
}

.reviews__title{
    @include title;
    
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 750px;

    @media screen and (max-width: 1023px) {
        &::after{
            content: '';
        }
        margin-bottom: 91px;
    }
}

.reviews__container{
    display: grid;
    row-gap: 140px;
    column-gap: 20px;
    grid-template-areas: 'first first' 'second third';

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.reviews__item{
    display: flex;
    color: #2E3A59;
    gap: 10px;

    &:first-child{
        grid-area: first;
        gap: 71px;

        @media screen and (max-width: 767px) {
            width: 100%;
            border-radius: 32px;
            flex-direction: column;
            padding: 15px;
            padding-top: 80px;
            text-align: center;
            box-shadow: 0 8px 16px rgba($color: #00C368, $alpha: 0.24);
            position: relative;
            margin-bottom: 38px;
            text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
        }

        .reviews__item-image{
            width: 187px;
            height: 187px;
            object-fit: cover;
            
            @media screen and (max-width: 767px) {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                width: 97px;
                height: 97px;
            }
        }
    }

    &:nth-child(2){
        grid-area: second;
        flex-direction: row-reverse;

        @media screen and (max-width: 767px) {
            flex-direction: row;
            margin-bottom: 26px;
        }
    }

    &:last-child{
        grid-area: third;

        @media screen and (max-width: 767px) {
            flex-direction: row-reverse;
        }
    }

    &:not(:first-child){
        .reviews__item-image{
            width: 97px;
            height: 97px;
        }
    }
}

.reviews__item-image{
    filter: drop-shadow(0 8px 15px rgba(black, 0.5));
}

.reviews__item-text{
    line-height: 1.5;
    margin: 0;
}

.reviews__item-author{
    display: block;
    margin-top: 20px;
    font-weight: 700;
}

.reviews__item-content{
    position: relative;

    @media screen and (max-width: 767px) {
        position: static;
    }
}

.reviews__item-quotes{
    position: absolute;
    display: flex;
    gap: 1px;

    &:first-child{
        right: calc(100% + 17px);
    }

    &:last-child{
        right: -20px;
        bottom: 0;
        transform: translateY(50%) rotate(180deg);
    }

    @media screen and (max-width: 767px) {
        top: 24px;

        path{
            fill: #E7EBF0;
        }

        &:first-child{
            left: 16px;
            right: unset;
        }

        &:last-child{
            right: 16px;
            bottom: unset;
            transform: rotate(180deg);
        }
    }
}