@import '../../mixins.scss';

.accordion{
    padding-top: 120px;
    grid-area: accordion;
    background-color: #F8FBFF;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1023px) {
        padding: 0 15px;
        padding-top: 40px;
    }
}

.accordion__title{
    @include title;

    text-align: center;
    max-width: 430px;
    margin-bottom: 15px;
    position: relative;
    margin-top: 0;

    &::after{
        position: absolute;
        content: '';
    }
}

.accordion__subtitle{
    line-height: 1.5;
    font-size: 16px;
    color: #2E3A59;
    margin-bottom: 21px;
}

.accordion__container{
    width: 100%;
    max-width: 704px;
}